@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --main-color: #28e98c;
    --second-color: #999999;
}

/* For Firefox */
::-moz-selection {
    color: var(--main-color);
    background: #1f1f1f;
}
  
/* For other browsers */
::selection {
    background: var(--main-color);
    color: #1f1f1f;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: "Playfair Display", serif;
}

/* 
  ### some styles that i can't do it with tialwindCss ###
*/

.helloWorld::before {
    content: "";
    height: 1px;
    width: 38px;
    position: absolute;
    background-color: var(--second-color);
    top: 12px;
}

@keyframes rotate {
    0% { transform: translateX(0) translateY(0) rotate(0deg); }
    100% { transform: translateX(0) translateY(0) rotate(360deg); }
  }
  
.circle-animation {
    animation: rotate 9s infinite linear; /* Adjust animation duration and easing as needed */
}